<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <script defer type="module" src="/static/js/chunk-vendors.2e977e82.js"></script><script defer type="module" src="/static/js/post_list.b017dc06.js"></script><link href="/static/css/chunk-vendors.e5b61810.css" rel="stylesheet"><link href="/static/css/post_list.a62110a8.css" rel="stylesheet"><script defer src="/static/js/chunk-vendors-legacy.abda748f.js" nomodule></script><script defer src="/static/js/post_list-legacy.4b098bc3.js" nomodule></script></head>
  <body>
    <noscript>
      <strong>We're sorry but VueDjangoWebpack/post_list.html doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
